<a href="https://colab.research.google.com/github/jihanfarah/RakaminDataFest33/blob/main/Hands_On_Data_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mengenal Konsep Variabel & Assignment

## Data Numeric

In [1]:
tinggi_badan = 173

berapa isi dari variabel tinggi_badan sekarang?

In [2]:
tinggi_badan

173

ganti nilai tinggi_badan dengan 170

In [3]:
tinggi_badan = 170

berapa isi dari variabel tinggi_badan sekarang?

In [4]:
tinggi_badan

170

In [5]:
tinggi_badan/100

1.7

In [6]:
tinggi_badan_in_m = tinggi_badan/100
tinggi_badan_in_m

1.7

## Data String

In [7]:
nama_depan = 'Raffi'
nama_belakang = "Ahmad"

In [8]:
nama_depan+nama_belakang

'RaffiAhmad'

In [9]:
nama_depan+" "+nama_belakang

'Raffi Ahmad'

## [CHALLENGE] Membuat variabel baru

In [10]:
#buat variabel nama dan umur di sini
nama = "Jihan"
umur = 23

In [11]:
print("Halo, nama saya "+nama+". Umur saya adalah "+str(umur)+" tahun")

Halo, nama saya Jihan. Umur saya adalah 23 tahun

# Import Pandas Library

In [12]:
import pandas as pd

# Membaca Dataset

In [13]:
df_dataset = pd.read_csv('/content/rakamin_class.csv')

In [14]:
df_dataset

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
1,RK20202345,Dyah,dyah@gmail.com,628306496,24,Bogor,Jawa Barat,0,2,66
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
4,RK20202348,Eva,eva@rakamin.com,628702735,42,Malang,Jawa Timur,0,5,80
...,...,...,...,...,...,...,...,...,...,...
95,RK20202439,Abdul,abdul@gmail.com,628989064,54,Samarinda,Kalimantan Timur,0,6,59
96,RK20202440,Ria,ria@gmail.com,628535849,56,Batam,Kepulauan Riau,0,6,58
97,RK20202441,Putra,putra@gmail.com,628205046,51,Palangkaraya,Kalimantan Tengah,1,6,71
98,RK20202442,Kokom,kokom@facebook.com,628718477,23,Bekasi,Jawa Barat,0,2,73
99,RK20202443,Ilham,ilham@gmail.com,628680755,29,Tasikmalaya,Jawa Barat,1,2,52

# Operasi Sederhana Data Frame

## a. shape

Melihat ukuran Data Frame (baris & kolom)

In [15]:
df_dataset.shape

(100, 10)

In [16]:
df_dataset.shape[0]

100

In [17]:
df_dataset.shape[1]

10

## b. columns

Melihat semua nama kolom

In [18]:
df_dataset.columns

Index(['registration_id', 'name', 'email', 'phone', 'age', 'city', 'province',
       'active', 'class', 'score'],
      dtype='object')

## c. head()

Melihat N baris pertama  (default N=5)

In [19]:
df_dataset.head()

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
1,RK20202345,Dyah,dyah@gmail.com,628306496,24,Bogor,Jawa Barat,0,2,66
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
4,RK20202348,Eva,eva@rakamin.com,628702735,42,Malang,Jawa Timur,0,5,80

In [20]:
df_dataset.head(3)

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
1,RK20202345,Dyah,dyah@gmail.com,628306496,24,Bogor,Jawa Barat,0,2,66
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55

## d. tail()

Melihat N baris terakhir (default N=5)

In [21]:
df_dataset.tail()

,registration_id,name,email,phone,age,city,province,active,class,score
95,RK20202439,Abdul,abdul@gmail.com,628989064,54,Samarinda,Kalimantan Timur,0,6,59
96,RK20202440,Ria,ria@gmail.com,628535849,56,Batam,Kepulauan Riau,0,6,58
97,RK20202441,Putra,putra@gmail.com,628205046,51,Palangkaraya,Kalimantan Tengah,1,6,71
98,RK20202442,Kokom,kokom@facebook.com,628718477,23,Bekasi,Jawa Barat,0,2,73
99,RK20202443,Ilham,ilham@gmail.com,628680755,29,Tasikmalaya,Jawa Barat,1,2,52

In [22]:
df_dataset.tail(3)

,registration_id,name,email,phone,age,city,province,active,class,score
97,RK20202441,Putra,putra@gmail.com,628205046,51,Palangkaraya,Kalimantan Tengah,1,6,71
98,RK20202442,Kokom,kokom@facebook.com,628718477,23,Bekasi,Jawa Barat,0,2,73
99,RK20202443,Ilham,ilham@gmail.com,628680755,29,Tasikmalaya,Jawa Barat,1,2,52

# Data Sorting

In [23]:
df_dataset.head()

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
1,RK20202345,Dyah,dyah@gmail.com,628306496,24,Bogor,Jawa Barat,0,2,66
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
4,RK20202348,Eva,eva@rakamin.com,628702735,42,Malang,Jawa Timur,0,5,80

### Mengurutkan age dari termuda ke tertua (ASCENDING - Kecil ke besar)

In [24]:
df_dataset.sort_values('age')

,registration_id,name,email,phone,age,city,province,active,class,score
92,RK20202436,Munaroh,munaroh@hotmail.com,628636716,15,Kota Administrasi Jakarta Barat,Jakarta,0,1,91
82,RK20202426,Een,een@facebook.com,628018377,15,Kota Administrasi Jakarta Barat,Jakarta,1,1,74
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
5,RK20202349,Bagus,bagus@hotmail.com,628816223,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,84
7,RK20202351,Yuni,yuni@google.com,628714465,16,Kota Administrasi Jakarta Pusat,Jakarta,0,1,87
...,...,...,...,...,...,...,...,...,...,...
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
42,RK20202386,Hendra,hendra@hotmail.com,628452630,58,Bandar Lampung,Lampung,1,6,75
32,RK20202376,Hafizh,hafizh@google.com,628535862,58,Bandar Lampung,Lampung,1,6,82
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
13,RK20202357,Amelia,amelia@ymail.com,628375103,59,Metro,Lampung,1,6,67

In [25]:
df_dataset.sort_values('age', ascending=True)

,registration_id,name,email,phone,age,city,province,active,class,score
92,RK20202436,Munaroh,munaroh@hotmail.com,628636716,15,Kota Administrasi Jakarta Barat,Jakarta,0,1,91
82,RK20202426,Een,een@facebook.com,628018377,15,Kota Administrasi Jakarta Barat,Jakarta,1,1,74
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
5,RK20202349,Bagus,bagus@hotmail.com,628816223,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,84
7,RK20202351,Yuni,yuni@google.com,628714465,16,Kota Administrasi Jakarta Pusat,Jakarta,0,1,87
...,...,...,...,...,...,...,...,...,...,...
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
42,RK20202386,Hendra,hendra@hotmail.com,628452630,58,Bandar Lampung,Lampung,1,6,75
32,RK20202376,Hafizh,hafizh@google.com,628535862,58,Bandar Lampung,Lampung,1,6,82
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
13,RK20202357,Amelia,amelia@ymail.com,628375103,59,Metro,Lampung,1,6,67

### Mengurutkan age dari tertua ke termuda (DESCENDING - Besar ke Kecil)

In [26]:
df_dataset.sort_values('age', ascending=False)

,registration_id,name,email,phone,age,city,province,active,class,score
13,RK20202357,Amelia,amelia@ymail.com,628375103,59,Metro,Lampung,1,6,67
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
42,RK20202386,Hendra,hendra@hotmail.com,628452630,58,Bandar Lampung,Lampung,1,6,75
32,RK20202376,Hafizh,hafizh@google.com,628535862,58,Bandar Lampung,Lampung,1,6,82
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
...,...,...,...,...,...,...,...,...,...,...
7,RK20202351,Yuni,yuni@google.com,628714465,16,Kota Administrasi Jakarta Pusat,Jakarta,0,1,87
5,RK20202349,Bagus,bagus@hotmail.com,628816223,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,84
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
92,RK20202436,Munaroh,munaroh@hotmail.com,628636716,15,Kota Administrasi Jakarta Barat,Jakarta,0,1,91
82,RK20202426,Een,een@facebook.com,628018377,15,Kota Administrasi Jakarta Barat,Jakarta,1,1,74

### Ambil data 10 orang pertama sesuai abjad

In [27]:
df_dataset.sort_values('name', ascending=True).head(10)

,registration_id,name,email,phone,age,city,province,active,class,score
95,RK20202439,Abdul,abdul@gmail.com,628989064,54,Samarinda,Kalimantan Timur,0,6,59
57,RK20202401,Abdul,abdul@samsung.com,628480456,25,Cimahi,Jawa Barat,1,2,81
75,RK20202419,Achmad,achmad@ymail.com,628364382,44,Pasuruan,Jawa Timur,1,5,53
79,RK20202423,Ade,ade@gmail.com,628873409,51,Palangkaraya,Kalimantan Tengah,0,6,74
84,RK20202428,Adi,adi@gmail.com,628238365,35,Semarang,Jawa Tengah,0,4,91
69,RK20202413,Aditya,aditya@gmail.com,628192927,49,Banjarbaru,Kalimantan Selatan,1,5,59
64,RK20202408,Agustina,agustina@samsung.com,628129314,26,Cirebon,Jawa Barat,1,2,59
11,RK20202355,Amalia,amalia@hotmail.com,628947349,56,Batam,Kepulauan Riau,1,6,63
13,RK20202357,Amelia,amelia@ymail.com,628375103,59,Metro,Lampung,1,6,67
71,RK20202415,Angga,angga@ymail.com,628637906,52,Balikpapan,Kalimantan Timur,1,6,71

### [CHALLENGE] Ambil data 10 orang dengan score terendah

In [28]:
df_dataset.sort_values('score', ascending=True).head(10)

,registration_id,name,email,phone,age,city,province,active,class,score
81,RK20202425,Aulia,aulia@ymail.com,628547207,53,Bontang,Kalimantan Timur,1,6,50
89,RK20202433,Tuti,tuti@google.com,628263541,46,Surabaya,Jawa Timur,1,5,51
99,RK20202443,Ilham,ilham@gmail.com,628680755,29,Tasikmalaya,Jawa Barat,1,2,52
48,RK20202392,Dudung,dudung@facebook.com,628432009,39,Blitar,Jawa Timur,1,4,53
75,RK20202419,Achmad,achmad@ymail.com,628364382,44,Pasuruan,Jawa Timur,1,5,53
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
91,RK20202435,Setiawan,setiawan@samsung.com,628969920,48,Singkawang,Kalimantan Barat,0,5,55
37,RK20202381,Retno,retno@gmail.com,628543058,56,Batam,Kepulauan Riau,1,6,57
25,RK20202369,Endah,endah@rakamin.com,628315789,53,Bontang,Kalimantan Timur,1,6,58
96,RK20202440,Ria,ria@gmail.com,628535849,56,Batam,Kepulauan Riau,0,6,58

# Data Filtering

### Filter kolom name, email, phone, province

In [29]:
df_dataset[ ['name','email','phone','province'] ].head()

     name              email      phone        province
0    Nina     nina@gmail.com  628198157  Kepulauan Riau
1    Dyah     dyah@gmail.com  628306496      Jawa Barat
2   Prima    prima@ymail.com  628755450         Jakarta
3  Firman  firman@google.com  628638112         Lampung
4     Eva    eva@rakamin.com  628702735      Jawa Timur

## Ambil nama tiap orang beserta score nya

In [30]:
df_dataset[['name','score']]

      name  score
0     Nina     80
1     Dyah     66
2    Prima     55
3   Firman     93
4      Eva     80
..     ...    ...
95   Abdul     59
96     Ria     58
97   Putra     71
98   Kokom     73
99   Ilham     52

[100 rows x 2 columns]

### Ambil data orang-orang dari Jakarta

In [31]:
df_dataset[df_dataset['province']=='Jakarta']

,registration_id,name,email,phone,age,city,province,active,class,score
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
5,RK20202349,Bagus,bagus@hotmail.com,628816223,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,84
7,RK20202351,Yuni,yuni@google.com,628714465,16,Kota Administrasi Jakarta Pusat,Jakarta,0,1,87
9,RK20202353,Nurul,nurul@gmail.com,628687911,17,Kota Administrasi Jakarta Selatan,Jakarta,0,1,79
15,RK20202359,Dadan,dadan@facebook.com,628952082,19,Kota Administrasi Jakarta Utara,Jakarta,1,1,63
16,RK20202360,Diana,diana@ymail.com,628161800,18,Kota Administrasi Jakarta Timur,Jakarta,0,1,87
31,RK20202375,Ratih,ratih@gmail.com,628336072,19,Kota Administrasi Jakarta Utara,Jakarta,0,1,81
40,RK20202384,Raden,raden@rakamin.com,628869259,17,Kota Administrasi Jakarta Selatan,Jakarta,1,1,87
46,RK20202390,Wulan,wulan@rocketmail.com,628361563,19,Kota Administrasi Jakarta Utara,Jakarta,1,1,73
67,RK20202411,Hidayat,hidayat@hotmail.com,628493696,17,Kota Administrasi Jakarta Selatan,Jakarta,0,1,100
82,RK20202426,Een,een@facebook.com,628018377,15,Kota Administrasi Jakarta Barat,Jakarta,1,1,74
92,RK20202436,Munaroh,munaroh@hotmail.com,628636716,15,Kota Administrasi Jakarta Barat,Jakarta,0,1,91

### Ambil data orang-orang yang berusia lebih dari 30 tahun

In [32]:
df_dataset[df_dataset['age'] > 30]

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
4,RK20202348,Eva,eva@rakamin.com,628702735,42,Malang,Jawa Timur,0,5,80
6,RK20202350,Citra,citra@hotmail.com,628965407,36,Surakarta,Jawa Tengah,1,4,69
8,RK20202352,Putu,putu@gmail.com,628601097,42,Malang,Jawa Timur,1,5,69
...,...,...,...,...,...,...,...,...,...,...
93,RK20202437,Yunus,yunus@facebook.com,628561783,50,Banjarmasin,Kalimantan Selatan,0,6,66
94,RK20202438,Arif,arif@gmail.com,628026203,56,Batam,Kepulauan Riau,0,6,95
95,RK20202439,Abdul,abdul@gmail.com,628989064,54,Samarinda,Kalimantan Timur,0,6,59
96,RK20202440,Ria,ria@gmail.com,628535849,56,Batam,Kepulauan Riau,0,6,58
97,RK20202441,Putra,putra@gmail.com,628205046,51,Palangkaraya,Kalimantan Tengah,1,6,71

### Ambil data orang-orang dengan score <= 60

In [33]:
df_dataset[df_dataset['score'] <= 60]

,registration_id,name,email,phone,age,city,province,active,class,score
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
23,RK20202367,Rahayu,rahayu@gmail.com,628558962,27,Depok,Jawa Barat,1,2,60
25,RK20202369,Endah,endah@rakamin.com,628315789,53,Bontang,Kalimantan Timur,1,6,58
29,RK20202373,Devi,devi@hotmail.com,628048683,37,Tegal,Jawa Tengah,1,4,60
37,RK20202381,Retno,retno@gmail.com,628543058,56,Batam,Kepulauan Riau,1,6,57
38,RK20202382,Kartika,kartika@gmail.com,628715317,27,Depok,Jawa Barat,0,2,59
41,RK20202385,Indra,indra@gmail.com,628455732,33,Purwokerto,Jawa Tengah,1,4,60
48,RK20202392,Dudung,dudung@facebook.com,628432009,39,Blitar,Jawa Timur,1,4,53
51,RK20202395,Arief,arief@hotmail.com,628618317,41,Madiun,Jawa Timur,1,5,60
64,RK20202408,Agustina,agustina@samsung.com,628129314,26,Cirebon,Jawa Barat,1,2,59
69,RK20202413,Aditya,aditya@gmail.com,628192927,49,Banjarbaru,Kalimantan Selatan,1,5,59
73,RK20202417,Anita,anita@gmail.com,628623943,50,Banjarmasin,Kalimantan Selatan,0,6,59
75,RK20202419,Achmad,achmad@ymail.com,628364382,44,Pasuruan,Jawa Timur,1,5,53
81,RK20202425,Aulia,aulia@ymail.com,628547207,53,Bontang,Kalimantan Timur,1,6,50
89,RK20202433,Tuti,tuti@google.com,628263541,46,Surabaya,Jawa Timur,1,5,51
91,RK20202435,Setiawan,setiawan@samsung.com,628969920,48,Singkawang,Kalimantan Barat,0,5,55
95,RK20202439,Abdul,abdul@gmail.com,628989064,54,Samarinda,Kalimantan Timur,0,6,59
96,RK20202440,Ria,ria@gmail.com,628535849,56,Batam,Kepulauan Riau,0,6,58
99,RK20202443,Ilham,ilham@gmail.com,628680755,29,Tasikmalaya,Jawa Barat,1,2,52

## Ada berapa orang yang punya score <= 60

In [56]:
df_dataset[df_dataset['score'] <= 60].count()

registration_id    19
name               19
email              19
phone              19
age                19
city               19
province           19
active             19
class              19
score              19
dtype: int64

### Ambil data orang-orang yang bukan dari kota Depok

In [35]:
df_dataset[df_dataset['city'] != 'Depok']

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
1,RK20202345,Dyah,dyah@gmail.com,628306496,24,Bogor,Jawa Barat,0,2,66
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
4,RK20202348,Eva,eva@rakamin.com,628702735,42,Malang,Jawa Timur,0,5,80
...,...,...,...,...,...,...,...,...,...,...
95,RK20202439,Abdul,abdul@gmail.com,628989064,54,Samarinda,Kalimantan Timur,0,6,59
96,RK20202440,Ria,ria@gmail.com,628535849,56,Batam,Kepulauan Riau,0,6,58
97,RK20202441,Putra,putra@gmail.com,628205046,51,Palangkaraya,Kalimantan Tengah,1,6,71
98,RK20202442,Kokom,kokom@facebook.com,628718477,23,Bekasi,Jawa Barat,0,2,73
99,RK20202443,Ilham,ilham@gmail.com,628680755,29,Tasikmalaya,Jawa Barat,1,2,52

## Ambil data orang-orang dari Jawa Timur dengan umur > 40

In [36]:
df_dataset[ (df_dataset['province'] == 'Jawa Timur') & (df_dataset['age'] > 40) ]

,registration_id,name,email,phone,age,city,province,active,class,score
4,RK20202348,Eva,eva@rakamin.com,628702735,42,Malang,Jawa Timur,0,5,80
8,RK20202352,Putu,putu@gmail.com,628601097,42,Malang,Jawa Timur,1,5,69
33,RK20202377,Rizky,rizky@samsung.com,628392304,42,Malang,Jawa Timur,1,5,74
45,RK20202389,Ari,ari@gmail.com,628149660,42,Malang,Jawa Timur,1,5,82
51,RK20202395,Arief,arief@hotmail.com,628618317,41,Madiun,Jawa Timur,1,5,60
61,RK20202405,Rini,rini@samsung.com,628027521,46,Surabaya,Jawa Timur,0,5,72
63,RK20202407,Wahyuni,wahyuni@samsung.com,628629014,46,Surabaya,Jawa Timur,1,5,63
75,RK20202419,Achmad,achmad@ymail.com,628364382,44,Pasuruan,Jawa Timur,1,5,53
85,RK20202429,Anggraini,anggraini@rocketmail.com,628882355,43,Mojokerto,Jawa Timur,0,5,94
89,RK20202433,Tuti,tuti@google.com,628263541,46,Surabaya,Jawa Timur,1,5,51

## Ambil data orang-orang yang dari Surabaya, atau punya score > 90

In [37]:
df_dataset[ (df_dataset['city'] == 'Surabaya') | (df_dataset['score'] > 90) ]

,registration_id,name,email,phone,age,city,province,active,class,score
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
17,RK20202361,Rahmawati,rahmawati@gmail.com,628543079,35,Semarang,Jawa Tengah,1,4,100
22,RK20202366,Deden,deden@google.com,628971836,20,Sungai Penuh,Jambi,1,2,91
24,RK20202368,Handayani,handayani@gmail.com,628536204,20,Sungai Penuh,Jambi,0,2,95
43,RK20202387,Intan,intan@gmail.com,628476879,34,Salatiga,Jawa Tengah,0,4,98
54,RK20202398,Lukman,lukman@facebook.com,628294756,49,Banjarbaru,Kalimantan Selatan,0,5,95
56,RK20202400,Dina,dina@hotmail.com,628474848,24,Bogor,Jawa Barat,1,2,99
58,RK20202402,Hadi,hadi@ymail.com,628858507,29,Tasikmalaya,Jawa Barat,1,2,97
59,RK20202403,Muhamad,muhamad@gmail.com,628246331,40,Kediri,Jawa Timur,0,5,100
61,RK20202405,Rini,rini@samsung.com,628027521,46,Surabaya,Jawa Timur,0,5,72
63,RK20202407,Wahyuni,wahyuni@samsung.com,628629014,46,Surabaya,Jawa Timur,1,5,63
67,RK20202411,Hidayat,hidayat@hotmail.com,628493696,17,Kota Administrasi Jakarta Selatan,Jakarta,0,1,100
68,RK20202412,Kurnia,kurnia@gmail.com,628414294,39,Blitar,Jawa Timur,0,4,96
74,RK20202418,Lestari,lestari@gmail.com,628884683,30,Banjar,Jawa Barat,1,4,94
84,RK20202428,Adi,adi@gmail.com,628238365,35,Semarang,Jawa Tengah,0,4,91
85,RK20202429,Anggraini,anggraini@rocketmail.com,628882355,43,Mojokerto,Jawa Timur,0,5,94
88,RK20202432,Astuti,astuti@ymail.com,628628806,52,Balikpapan,Kalimantan Timur,0,6,97
89,RK20202433,Tuti,tuti@google.com,628263541,46,Surabaya,Jawa Timur,1,5,51
92,RK20202436,Munaroh,munaroh@hotmail.com,628636716,15,Kota Administrasi Jakarta Barat,Jakarta,0,1,91
94,RK20202438,Arif,arif@gmail.com,628026203,56,Batam,Kepulauan Riau,0,6,95

## Ambil data orang-orang yang bukan dari Malang

In [38]:
df_dataset[df_dataset['city'] != 'Malang']

,registration_id,name,email,phone,age,city,province,active,class,score
0,RK20202344,Nina,nina@gmail.com,628198157,57,Tanjungpinang,Kepulauan Riau,1,6,80
1,RK20202345,Dyah,dyah@gmail.com,628306496,24,Bogor,Jawa Barat,0,2,66
2,RK20202346,Prima,prima@ymail.com,628755450,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,55
3,RK20202347,Firman,firman@google.com,628638112,59,Metro,Lampung,1,6,93
5,RK20202349,Bagus,bagus@hotmail.com,628816223,16,Kota Administrasi Jakarta Pusat,Jakarta,1,1,84
...,...,...,...,...,...,...,...,...,...,...
95,RK20202439,Abdul,abdul@gmail.com,628989064,54,Samarinda,Kalimantan Timur,0,6,59
96,RK20202440,Ria,ria@gmail.com,628535849,56,Batam,Kepulauan Riau,0,6,58
97,RK20202441,Putra,putra@gmail.com,628205046,51,Palangkaraya,Kalimantan Tengah,1,6,71
98,RK20202442,Kokom,kokom@facebook.com,628718477,23,Bekasi,Jawa Barat,0,2,73
99,RK20202443,Ilham,ilham@gmail.com,628680755,29,Tasikmalaya,Jawa Barat,1,2,52

## Siapa orang paling tua yang berasal dari Jawa Tengah?

In [42]:
df_dataset[df_dataset['province'] == 'Jawa Tengah'].sort_values('age', ascending=False).head(1)

,registration_id,name,email,phone,age,city,province,active,class,score
29,RK20202373,Devi,devi@hotmail.com,628048683,37,Tegal,Jawa Tengah,1,4,60

## [CHALLENGE] Ada berapa banyak orang di kelas 4 yang berasal dari Jawa Tengah?

In [44]:
df_dataset[ (df_dataset['province'] == 'Jawa Tengah') & (df_dataset['class'] == 4) ].count()

registration_id    14
name               14
email              14
phone              14
age                14
city               14
province           14
active             14
class              14
score              14
dtype: int64

## [CHALLENGE] Siapa nama pemilik no HP 628833542?

In [45]:
df_dataset[df_dataset['phone'] == 628833542]

,registration_id,name,email,phone,age,city,province,active,class,score
65,RK20202409,Wulandari,wulandari@gmail.com,628833542,52,Balikpapan,Kalimantan Timur,1,6,83

## Untuk semua orang di kelas 1, tunjukkan info nama, kota, dan provinsi nya

In [48]:
df_dataset[ df_dataset['class'] == 1][['name','city','province']]

       name                               city province
2     Prima    Kota Administrasi Jakarta Pusat  Jakarta
5     Bagus    Kota Administrasi Jakarta Pusat  Jakarta
7      Yuni    Kota Administrasi Jakarta Pusat  Jakarta
9     Nurul  Kota Administrasi Jakarta Selatan  Jakarta
15    Dadan    Kota Administrasi Jakarta Utara  Jakarta
16    Diana    Kota Administrasi Jakarta Timur  Jakarta
31    Ratih    Kota Administrasi Jakarta Utara  Jakarta
40    Raden  Kota Administrasi Jakarta Selatan  Jakarta
46    Wulan    Kota Administrasi Jakarta Utara  Jakarta
67  Hidayat  Kota Administrasi Jakarta Selatan  Jakarta
82      Een    Kota Administrasi Jakarta Barat  Jakarta
92  Munaroh    Kota Administrasi Jakarta Barat  Jakarta

# Data Aggregation

## Melihat jumlah orang per provinsi

In [49]:
df_dataset.groupby('province')['registration_id'].count()

province
Jakarta               12
Jambi                  2
Jawa Barat            21
Jawa Tengah           14
Jawa Timur            17
Kalimantan Barat       3
Kalimantan Selatan     6
Kalimantan Tengah      3
Kalimantan Timur       8
Kalimantan Utara       1
Kepulauan Riau         9
Lampung                4
Name: registration_id, dtype: int64

Tambahkan .reset_index() untuk membuat dataframe yang kolomnya rata

In [50]:
df_dataset.groupby('province')['registration_id'].count().reset_index()

              province  registration_id
0              Jakarta               12
1                Jambi                2
2           Jawa Barat               21
3          Jawa Tengah               14
4           Jawa Timur               17
5     Kalimantan Barat                3
6   Kalimantan Selatan                6
7    Kalimantan Tengah                3
8     Kalimantan Timur                8
9     Kalimantan Utara                1
10      Kepulauan Riau                9
11             Lampung                4

## Melihat rata-rata score tiap kelas

In [51]:
df_dataset.groupby('class')['score'].mean().reset_index()

   class      score
0      1  80.083333
1      2  75.571429
2      4  76.619048
3      5  72.473684
4      6  71.962963

diurutkan dari rata-rata score tertinggi

In [52]:
df_dataset.groupby('class')['score'].mean().reset_index().sort_values('score',ascending=False)

   class      score
0      1  80.083333
2      4  76.619048
1      2  75.571429
3      5  72.473684
4      6  71.962963

## Untuk orang-orang dari Jakarta, berapa rata-rata score per kota?

In [55]:
df_dataset[df_dataset['province'] == 'Jakarta'].groupby('city')['score'].mean().reset_index().sort_values('score', ascending=False)

                                city      score
2  Kota Administrasi Jakarta Selatan  88.666667
3    Kota Administrasi Jakarta Timur  87.000000
0    Kota Administrasi Jakarta Barat  82.500000
1    Kota Administrasi Jakarta Pusat  75.333333
4    Kota Administrasi Jakarta Utara  72.333333

## Berapa banyak orang yang aktif, dan tidak aktif?

In [54]:
df_dataset.groupby('active')['registration_id'].count()

active
0    36
1    64
Name: registration_id, dtype: int64